$primary-color: blue;
$secondary-color: #000;
$third-color: #000;
$warning-color: yellow;
$danger-color: red;
$success-color: green;

$dark-primary-color: #000;
$dark-secondary-color: #000;
$dark-third-color: #000;
$dark-warning-color: yellow;
$dark-danger-color: red;
$dark-success-color: green;

$light-primary-color: #000;
$light-secondary-color: #000;
$light-third-color: #000;
$light-warning-color: yellow;
$light-danger-color: red;
$light-success-color: green;

$font-family-primary: sans-serif;
$font-family-secondary: "Arial", sans-serif;
$base-size: 16px;
$font-color-primary: black;
$font-color-secondary: white;

$padding-primary: 8px;
$padding-secondary: 16px;
$padding-third: 24px;

$margin-primary: 8px;
$margin-secondary: 16px;
$margin-third: 24px;
$padding: (
  primaryPadding: $padding-primary,
  secondaryPadding: $padding-secondary,
  thirdPadding: $padding-third,
);
$margin: (
  primaryMargin: $margin-primary,
  secondaryMargin: $margin-secondary,
  thirdMargin: $margin-third,
);
$colors: (
  primaryBrand: $primary-color,
  secondaryBrand: $secondary-color,
  thirdBrand: $third-color,
  warningBrand: $warning-color,
  dangerBrand: $danger-color,
  successBrand: $success-color,
);
$dark-colors: (
  primaryDark: $dark-primary-color,
  secondaryDark: $dark-secondary-color,
  thirdDark: $dark-third-color,
  warningDark: $dark-warning-color,
  dangerDark: $dark-danger-color,
  successDark: $dark-success-color,
);
$light-colors: (
  primaryLight: $light-primary-color,
  secondaryLight: $light-secondary-color,
  thirdLight: $light-third-color,
  warningLight: $light-warning-color,
  dangerLight: $light-danger-color,
  successLight: $light-success-color,
);
$font: (
  primary: $font-family-primary,
  secondary: $font-family-secondary,
  baseSize: $base-size,
  primarColor: $font-color-primary,
  secondaryColor: $font-color-secondary,
);

@mixin center-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin padding-button {
  padding-top: map-get($map: $padding, $key: primaryPadding);
  padding-left: map-get($map: $padding, $key: secondaryPadding);
  padding-right: map-get($map: $padding, $key: secondaryPadding);
  padding-bottom: map-get($map: $padding, $key: primaryPadding);
}
